@CHARSET "ISO-8859-1";


body{

    font-family: Comfortaa;
    font-size: larger;
}

.bandeau{
    position: relative;
    z-index: 1;
    display:block;
    width:100%;
    height:100%;
    background-position:50% 50%;
}

.logo{
    position: relative;
    z-index: 1;
    float:right;
    width:100px;
    height:100px;
}

/* Partie menu */
#menu_user {
    font-size: medium;
    display:table; /* contexte de formatage : alternative = inline-block */
    margin:auto;   /* centrage pour élément similaire a block, si inline-block, alors text-align:center; sur le parent  */
    position: relative;
    z-index: 10;
    margin-top: -34px;
    list-style-type:none;
    padding: auto;
}

#menu_user li {
    display:inline-block;
    z-index: 10;
    float:left;
}

#menu_user ul {
    position:absolute;
    z-index: 10;
}

#activ_window a{
    z-index: 10;
    border-bottom:2px solid;
    border-color: #0061a1
}

ul li a {
    z-index: 10;
    display:inline-block;
    margin: 0 40px;
    background-color: #fff2cc;
    color:black;
    text-decoration:none;
    text-align:center;


}

ul li a:hover {
    border-bottom:2px solid;
    border-color: #0061a1;
    cursor:pointer;
}

ul li form {
    z-index: 10;
    display:inline-block;
    margin: 0 40px;
    background-color: #fff2cc;
    color:black;
    text-decoration:none;
    text-align:center;


}
ul li form:hover {
    border-bottom:2px solid;
    border-color: #0061a1;
    cursor:pointer;
}


input{
    font-size: medium;
    border: none;
    background: none;
    margin-top: -4px;
}

/* fin de menu*/



.contour_jaune {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #fff2cc;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    box-shadow: 8px 8px 12px #555;
}

.contour_bleu {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #cfe2f3;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    box-shadow: 8px 8px 12px #555;

}

.etiquette{
    margin-top: 3px;
    font-size: medium;
    margin-left: 5%;
    margin-right: 5%;
}

.Enseignement{
    background: #15c7ff;
}

.Organisation{
    background: #ff49ec;
}

.Planning{
    background: #43ff1e;
}

.Comportement.et.Inicivilite{
    background: #9a63ff;
}

.Problemes.Materiel{
    background: #ff7f23;
}

form {
    font-size: small;

}
#triage{
    margin-left: 4%;
    margin-bottom: -4%;
    font-size: medium;
    padding-bottom: 5%;
}



button{

    margin-left: 2%;
    text-align: right;
    border: none;
    padding: 1% 5% 1% 5%;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
}

#bons{
    background:#d0ffd1;
}
#bons:hover{
    background: #7aff81;
}
#bos{
    background: #7aff81;
}
#bos:hover{
    background: #d0ffd1;
}


/*
.button_pasok{
    background: #ff7c7c;
}*/

#bpos{
    background: #ff7c7c;
}

#bpons{
    background: #ffc1c1;

}

#bpos:hover{
    background: #ffc1c1;
}

#bpons:hover{
    background: #ff7c7c;
}

.button_repondre{
    background: #0061a1;
    color: white;
}

.cadre_message{
    margin-top: -2%;
    margin-left: 5%;
    font-size: medium;
    background: #ffffff;
    margin-right: 5%;

}


select {
    border:none;
}

#partiebleue {
    margin-left: 5px;
}

#idee {
    margin-top: -2%;
}

.utilisateur{
    float : right;
    margin-right: 2%;
    font-size: smaller;
}

.cadre_reponse {
    background-color: #cccccc;
    font-size: small;
    padding: 1% 1% 1% 1%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}


.cadre_reponse_util{
    background-color: #cccccc;
    font-size: small;
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    border-radius: 4px;

}

.reponse_admin{

}

.pages {
    padding: 5px 5px 5px 5px;
    background: none;
    font-style: normal;
    font-size: large;
    color: #0061a1;
    position: relative;
    margin-bottom:10px;
}

#button_pages{
    position: relative;
    margin-left: 39%;
}

.fleche:hover{
    background: #0061a1;
    color: white;
}

.between{
    position: relative;
}
